<% content_for :page do %>
  <style amp-custom>
    h1 {color: red}
  </style>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "headline": "Article headline",
    "image": [
      ""
    ],
    "datePublished": "2015-02-05T08:00:00+08:00"
  }
  </script>
<% end %>

<h1>THIS IS AN AMP PAGE</h1>
